# ============================================================
# ENTORNO
# ============================================================
NODE_ENV=development
PORT=3000

# ============================================================
# MYSQL LOCAL (MYSQL WORKBENCH)
# ============================================================
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=CAMBIAR_CONTRASENA
DB_NAME=smart_parking_final

# ============================================================
# MYSQL RAILWAY
# Railway proporciona estas variables automáticamente al enlazar MySQL.
# ============================================================
MYSQLHOST=
MYSQLPORT=
MYSQLUSER=
MYSQLPASSWORD=
MYSQLDATABASE=

# ============================================================
# SEGURIDAD Y ADMINISTRADOR INICIAL
# ============================================================
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
ADMIN_NAME=Cruzado Zelada Johnatan Fabricio
ADMIN_EMAIL=admin@smartparking.local
ADMIN_USER=admin
ADMIN_PASSWORD=CAMBIAR_CONTRASENA_ADMIN
